@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAeropuertosModel

@{
  var Aeropuertos = Model.Aeropuerto;
}

<div class="text-center">
  @* POST FOR TAKE INFORMATION AND SEND FOR OTHER PART *@
  <form method = "POST">

    <div class="form-group row">
      <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre" asp-for="@Aeropuertos.nombre">
      </div>
    </div>

    <div class="form-group row">
      <label for="ciudad" class="col-sm-2 col-form-label">Ciudad</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ciudad" placeholder="Ciudad" asp-for ="@Aeropuertos.ciudad">
      </div>
    </div>
    
    <div class="form-group row">
      <label for="pais" class="col-sm-2 col-form-label">Pais:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="pais"  placeholder="Pais" asp-for ="@Aeropuertos.pais">
      </div>
    </div>

    <div class="form-group row">
      <label for="cordx" class="col-sm-2 col-form-label">Cordenada X:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="cordx"  placeholder="Cordenada X" asp-for ="@Aeropuertos.cordx">
      </div>
    </div>

    <div class="form-group row">
      <label for="cordy" class="col-sm-2 col-form-label">Coordenada Y:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="cordy" placeholder="Cordenada Y" asp-for ="@Aeropuertos.cordy">
      </div>
    </div>

    <hr/>  
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>