@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAeropuertosModel
@{
}

<h1>Listado de Aeropuertos</h1>

<table class="table">
    @* <tr>
        <td>ID</td>
        <td>nombre</td>
        <td>ciudad</td>
        <td>pais BAÑOS</td>
        <td>cordx</td>
        <td>cordy</td>
        <td>cAPACIDADS</td>
    </tr>
    @foreach (var Aeropuertos in Model.Aeropuertos)
    {
        <tr>
            <td>@Aeropuertos.id</td>
            <td>@Aeropuertos.nombre</td>
            <td>@Aeropuertos.ciudad</td>
            <td>@Aeropuertos.pais</td>
            <td>@Aeropuertos.cordx</td>
            <td>@Aeropuertos.cordy</td>
            <td>
                <a class="btn btn-info" asp-page="./Details" asp-route-AeropuertosId="@Aeropuertos.id"><i class="fas fa-adjust"></i>Ver</a>
              
                <a class="btn btn-info" asp-page="./Edit" asp-route-AeropuertosId="@Aeropuertos.id"><i class="fas fa-adjust"></i>Editar</a>
  
                <form method="POST">
                    <input type="number" class="d-none" id="id" asp-for="@Aeropuertos.id">
                    <button type="submit"class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
    } *@
</table>
