@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionesModel
@{
}

<h1>Listado de Aviones</h1>

<table class="table">
    <tr>
        <td>ID</td>
        <td>MARCA</td>
        <td>MODELO</td>
        <td>Numeros ASIENTOS</td>
        <td>BAÑOS</td>
        <td>CAPACIDAD maxima</td>
        <td>Opciones</td>
    </tr>
    @foreach (var Aviones in Model.LAviones)
    {
        <tr>
            <td>@Aviones.id</td>
            <td>@Aviones.marca</td>
            <td>@Aviones.modelo</td>
            <td>@Aviones.numero_asientos</td>
            <td>@Aviones.numero_banos</td>
            <td>@Aviones.capacidad_maxima</td>
            <td>
                <a class="btn btn-info" asp-page="./Details" asp-route-AvionesId="@Aviones.id"><i class="fas fa-adjust"></i>Ver</a>
                <a class="btn btn-info" asp-page="./Edit" asp-route-AvionesId="@Aviones.id"><i class="fas fa-adjust"></i>Editar</a>
                <td>
                    <form method="POST">
                        
                        <input type="number" class="form-control d-none" id="id" asp-for="@Aviones.id">
                        <button type="submit"class="btn btn-danger">Eliminar</button>
                    </form>   

                </td>                     
              
            </td>
        </tr>
    }
</table>

 <a class="btn btn-info" asp-page="./Create"><i class="fas fa-adjust"></i>Ir a crear</a>  @*Aca habia cometido un error de sintaxis*@