@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionesModel
@{
}

<h1>Listado de Aviones</h1>
<table class="table">
    @foreach (var Aviones in Model.Aviones)
    {
        <tr>
            <td>@Aviones.id</td>
            <td>@Aviones.marca</td>
            <td>@Aviones.modelo</td>
            <td>@Aviones.numero_asientos</td>
            <td>@Aviones.numero_banos</td>
            <td>@Aviones.capacidad_maxima</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-AvionesId="@Aviones.id"><i class="fas fa-adjust"></i>Ver</a>
              @* <a class="btn btn-info" href="#">Editar</a>  *@
              <a class="btn btn-info" asp-page="./Edit" asp-route-AvionesId="@Aviones.id"><i class="fas fa-adjust"></i>Editar</a>  @*Aca habia cometido un error de sintaxis*@
              <a class="btn btn-danger" href="#">Eliminar</a>
            </td>
        </tr>
    }
</table>